nav{
	flex: 1;
	text-align: center;
}
a
{
	text-decoration: none;
}

ul li
{
	list-style: none;
	display: inline-block;
	margin-right: 2vw;
	color: black;
}

ul .li a
{
	text-decoration: none;
	font-size: 15px;
	display: block;
	padding: 5px;
	margin-bottom: 10px;
	color: black;

}


.mainmenu ul li a:hover
{
	color: white;
	background: #0575E6;
	border-radius: 10px
}

ul
{
	background: white;
}

ul li ul li
{
	display: none;
}

ul li:hover ul li 
{
	display: block;
}

.UMS::after
{
	content: '';
	width: 20px;
	height: 100%;
	background: #0575E6;
	background: linear-gradient(to top, #021B79, #0575E6);
	position: absolute;
	left: -13px;
	top: 1px;
}

.ums::after
{
	content: '';
	width: 84.25%;
	height: 7px;
	background: linear-gradient(to left, #000046, #1CB5E0);
	position: absolute;
	right: 7.8%;
	top: 20%;
}
.main
{
	
	width: 64vw;
	height: 120vh;
	margin-left: 23%;
	background: white;
	padding-top: 10px;
	/*border: 1px solid purple;*/
	

}
.main h4
{
	background: white;
	color: black;
	font-size: 13px;
	font-weight: normal;
	padding-left: 30px;
	margin: 10px;
}

.main a
{
	text-decoration: none;
	color: black;
	text-align: center;
}

.main a:hover
{
	text-decoration: underline;
}
.main img
{
	width: 30px;
	text-align: right;
	margin-left: 66%;
}

.profile_outer {
    float: left;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 9px;
}

#My
{
    height: 85px;
    width: 80px;
    float: left;
    padding: 5px;
    margin-left: 10px;
    -moz-box-shadow: 0 0 6px 1px #ccc;
    -webkit-box-shadow: 0 0 6px 1px #ccc;
    box-shadow: 0 0 6px 1px #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.left p
{
	font-family: Trebuchet MS;
    font-size: 13px;
    color: #000;
    text-align: center;
}

.left
{
	width: 19.61vw;
	height: 120vh;
	float: left;
    background: #f8f8f8;
    margin-top: -120vh;
    /*border: 1px solid red;*/
}

.left h4 
{
    color: #138baa;
    font-size: 14px;
    font-weight: bold;
    padding-right: 6px;
    font-family: Trebuchet MS, Arial, Helvetica;
    text-align: center;
 }

.left li
{
	float: left;
    width: 266px !important;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    background: linear-gradient(to left, #000046, #1CB5E0);
    border-bottom: 1px solid #54b9d3;
    text-align: left;
}

.left li:hover
{
	color: #80bfff;
}

#parking 
{
	width: 30px;
    height: 25px;
    position: absolute;
    top: 78.7%;
    left: 8%; 
}

.left-li a
{
	color: white;
}

.left-li a
{
	float: left;
    width: 87%;
    padding: 8px 0px;
    text-decoration: none;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.left-li a:hover
{
	color: #80bfff;
}`		
.health
{
	padding-top: 8%;
	margin-left: 4px;
}

.hearth_tip_outer .date
 {
    float: left;
    width: 100%;
    text-align: center;
    font-family: 'avantgarde_bk_btbook';
    letter-spacing: 0.8px;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.health_detail 
{
    line-height: 18px;
    max-height: 60px;
    overflow-y: scroll;
    padding-top: 10px;
    padding-left: 28px;
    padding-right: 15px;
}

#idea .red 
{
    background: url(image/idea.jpg) no-repeat center left transparent;
    display: block;
    float: left;
    height: 133px;
    margin-top: -45%;
    position: absolute;
    width: 37px;
    border: solid 1px #fff;
    -webkit-box-shadow: 4px 4px 6px 0px rgb(50 50 50 / 50%);
    -moz-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 4px 4px 6px 0px rgb(50 50 50 / 50%);
}

.main .Timetable 
{
	border: 1px solid #aaaaaa;
	border-radius: 4px;
}
.main .Timetable table
{
	width: 755.328px;
	height: 234.688px;
	border-radius: 4px;
    margin: 5px;
    zoom: 1;
    border: 1px solid #aaaaaa;
}

.main .Timetable table .maintable th
{
	text-align: center;
	font-weight: normal;
	font-size: 15px;
	padding-left: 15px;
	margin-left: 20px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-top: 5px;
	border-right: 1px solid black;
	background: #cccccc;
	color: #aaaaaa;
	/*border: 1px solid black;*/

}

.main .Timetable table .maintable th:hover
{
	text-decoration: none;
	background: white;
	color: black;
}

.main .Timetable table .maintable th a
{
	color: gray;
}
.main .Timetable table .maintable th a:hover
{
	color: black;

}

.Timetable table .maintable
{
	content: "";
    display: table;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 5px;
    background: #cccccc;
   /* border: 1px solid black;*/
}

.Timetable table .table-fill 
{
	color: black;
	text-align: left;
	display: inline-block;
	margin: 20px; 
	background: linear-gradient(to left, #000046, #1CB5E0);
    border-bottom: 1px solid #54b9d3;
    

}

.Timetable table .table-fill th
{
	border-right: 1px solid #54b9d3;
	color: white;
	align-items: center;
	text-align: center;
	padding-right: 40px;
	padding-left: 40px	
}

.Timetable table tr 
{
	color: black;
	margin-bottom: 20px;

}
.Timetable table .table-fill th a
{
	color: white;
	font-size: 10px;
}

.Timetable table .data
{
	color: black;
	text-align: center;
	display: inline-block;
	margin: 0;
	padding: 5px;
	margin-left: 20px;
	margin-right: 20px;
    

}
.Timetable table .data th
{
	border-right: 1px solid #54b9d3;
	color: black;
	align-items: center;
	text-align: center;
	padding-right: 40px;
	padding-left: 40px	
}

@media(max-width: 400px)
{
	.main
	{
		width: 70%;
		margin-right: 150px;
	}
	.left
	{
		width: 260vw;
	}
	.ums::after
	{
	content: '';
	width: 84%;
	height: 7px;
	right: 105px;
	top: 125px;
	}
}

.homepage
{
	background: #EFEFEF;
	padding: 10px;
}
.homepage h2
{
	color: #138baa;
	text-align: center;
}
.hamepage td
{
	color: black;
	font-size: ;
}
td {
    display: table-cell;
    vertical-align: inherit;
}

.aspGridView td {
    border-right: 1px solid #D1CFCF !important;
    border-bottom: 1px solid #D1CFCF !important;
    padding-left: 7px;
    padding-right: 7px;
}
.aspGridView_RowStyle {
    text-align: left;
    font-size: 11px;
    line-height: 25px;
    min-height: 25px !important;
    padding-left: 10px;
    color: #333;
    background: url(../../imgs/tabel_grid_white.jpg) repeat-x top #f9f9f9;
    border-right: 1px solid #d1cfcf !important;
    border-bottom: 1px solid #d1cfcf !important;
}
.homepage table 
{
    width: 100%;
    text-align: left;
}

table 
{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.input_form_caption_td {
    background-color: #EFEFEF;
    border: 0px !important;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    font-family: Trebuchet MS, Arial, Helvetica;
    padding: 3px;
}

.input_form_caption_td span 
{
	color: #138baa;
	font-family: Trebuchet MS,Arial,Helvetica;
	font-size: 12px;
	font-weight: bold;
}

.Link {
	color: #BD0304;
	font-family: Trebuchet MS, Arial, Helvetica;
	font-size: 11px;
	 font-weight: bold;
}

#middle {
    float: left;
    background-color: #ffffff;
    padding: 10px;
    width: 98%;
}
#middle {
    width: 100%;
    float: left;
    background-color: #ffffff;
}
.listing_header {
    color: #138baa;
    float: left;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 30px;
}
.at-table th
 {
    padding: 2px 13px;
    text-align: center;
    align-items: center;
    color: black;
    border: solid 1px #d1cfcf;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(241,241,241,1)), color-stop(51%, rgba(225,225,225,1)), color-stop(100%, rgba(246,246,246,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0 );
}
.aspLabel 
{
    color: #138baa;
    font-size: 11px;
    font-weight: bold;
    padding-right: 6px;
    font-family: Trebuchet MS, Arial, Helvetica;
}
.middle_bottom1
 {
    float: left;
    width: 100%;
    background: #fff;
    padding-bottom: 15px;
}
.at-table 
{
    width: 100%;
    border-collapse: collapse;
}